@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Parisienne&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 100%;
}

input {
    position: relative;
    opacity: 1;

    background-color: transparent;
    
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}