@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Parisienne&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;

}
